body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
}

header{
    background-color: yellow;
    padding: 2rem; width: 60rem;
    position: relative;
    left: 21.3rem;
}

main{
    display: flex;
    flex: 1;
    text-align: center;
}

nav{
    background-color: white;
    flex-direction: row;
    flex: 1;
    position: relative;
    bottom: 5rem;
}

article{
    background-color: pink;
    flex: 2;
}

aside{
    background-color: aqua;
    flex: 1;
}

footer{
    background-color: yellow;
    padding: 2rem;
    width: 60rem;
    position: relative;
    left: 21.3rem;
}